{% extends 'frontend/pages/layout/base.html' %}
{% block body %}
  {% load static %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row justify-content-around">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <a href="process">
            <div class="small-box bg-primary">
                <div class="inner">
                  <h3>150</h3>

                  <p>Procesos Abiertos</p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
            </div>
          </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
           <a href="#">
            <div class="small-box bg-success">
            <div class="inner">
              <h3>10%</h3></sup>

              <p>Procesos Favoritos</p>
            </div>
            <div class="icon">
              <i class="ion ion-star"></i>
            </div>
            </div>
            </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
        <a href="{% url 'codigosUNSPSC' %}">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>15</h3>
                <p>Códigos UNSPSC elegidos</p>
            </div>
              <div class="icon">
                <i class="ion ion-clipboard"></i>
            </div>
          </div>
        </a>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Estadisticas Generales</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">

          <table class="table table-sm">

            <tbody>
            <tr>
              <td class=" s"><label>Año</label>2020</td>
              <td class=" s"><label>Total Procesos</label><a href="/?fecha=2020/01/01 - 2020/12/31">99,987</a></td>
              <td class=" s"><label>Entidades</label><a href="/resumen/entidades?ano=2020">4,422</a></td>
              <td class=" s"><label>Estados</label><a href="/resumen/estados?ano=2020">9</a></td>
              <td class=" s"><label>Tipos</label><a href="/resumen/tipos?ano=2020">13</a></td>
              <td class=" s"><label>Tipos Fecha</label><a href="/resumen/tipos_fecha?ano=2020">9</a></td>
              <td class=" s"><label>Municipios</label><a href="/resumen/municipios?ano=2020">1,120</a></td>
              <td class=" s"><label>Total Cuantías</label>$41,743,303,701,384</td>
              <td class=" s"><label>Promedio Cuantías</label>$1,916,689,293</td>
              <td><label>Cuantía Máxima</label>$3,478,587,594,850</td>
              <td><label>Cuantía Mínima</label>$0</td>
              <td ><label>Última Detección</label>2020-03-09</td>
            </tr>
            </tbody>
          </table>

        </div>
        <!-- /.card-body -->
      </div>


      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
{% endblock %}

